# Backend Environment Variables
# Copy this file to .env and update the values

# Database Configuration
DB_HOST=195.248.240.30
DB_PORT=3306
DB_NAME=modiryar
DB_USER=modiryar_app
DB_PASSWORD=MY-PASSWORD

# Server Configuration
PORT=3001
NODE_ENV=development

# JWT Configuration
JWT_SECRET=c64a5332ca658dc88cf932209d6febcb6063b238dd64dcbbfe3e4ffcd33aed74a29b2b836df00d133c464b9371cf348e570b571373a916c56d435ba24f08ea5d
JWT_EXPIRES_IN=7d

# CORS Configuration
CORS_ORIGIN=http://localhost:5173

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=500

# Email Configuration (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=shokriali@gmail.com
SMTP_PASS=orslxvkgfzqfpgjx
FRONTEND_URL=https://modiryar.online
