*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
app/build/
*.log
.navigation/
*.jks
*.keystore
!debug.keystore
_check.txt
_envcheck.txt
build-log.txt
install-log.txt
